:root {
    --color-bg: #8b008b;
    --color-box:#7c5e97;
    --fifteen: 15px;
}

body {
    padding: 10px;
    text-align: center;
}
.window {
    min-height:100%;
    padding: var(--fifteen) 10px;
    background: var(--color-bg);
    margin-bottom: var(--fifteen);
}
h2 {
    min-width:100%;
}
.container {
    min-height: 100%;
    min-width: 70%;
}
.box {
    background: var(--color-box);
    border: 1px solid #000000;
    min-height: calc(100vh/3);
    min-width: calc(100vw/3);
}
aside {
    border: 1px solid #000000;
    min-height: 100%;
}