@font-face {
    font-family: 'Tomorrow';
    src: url(../fonts/Tomorrow/Tomorrow-Regular.ttf);
}
@font-face {
    font-family: 'Tomorrow-BoldItalic';
    src: url(../fonts/Tomorrow/Tomorrow-BoldItalic.ttf);
}