body {
    font-family: 'Tomorrow-BoldItalic';
    font-size: 16px;
}
::selection {
    color:#f200fa;
    background: #191970;
}
#wrapper {
    display: block;
    box-sizing: border-box;
    margin: 10px;
}
.nav {
    display: block;
    box-sizing: border-box;
    padding: 15px;
    margin: 15px;
    width:100px;
    height: 100px;
    background-color: #666;
}
.nav__link:hover{
    background-color: #d8db0d;
}
form {
    display: block;
    box-sizing: border-box;
    padding: 15px;
    margin: 15px;
    width: max-content;
    border: 2px solid #191970;
}
form:hover {
    border-color: #ff69b4;
}
input:valid {
    background-color: #008080;
}
input:invalid {
    background-color: #ff6347;
}
label::after {
    content: "*";
    font-size: 2em;
    color:#ee82ee;
    margin: .5em;
}
main {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
}
article::first-line {
    color: #ff0000;
}
article p{
    text-indent: 1.5em;
}
article p::first-letter {
    font-size: 30px;
    color:#ffa07a;
}
article:first-child {
    word-spacing: 30px;
    pointer-events: none;
}
b {
    letter-spacing: 10px;
}
#thirdP {
    word-break: break-all;
    width: 400px;
}
.borderBox {
    display: block;
    box-sizing: border-box;
    margin: 15px;
    height: 400px;
    width: 600px;
    border: 2px solid #d87093;
    background-image: url(../imgs/tongue.jpg);
    background-size:cover;
    transition-property: background-image;
    transition-duration: 1s;
}
.borderBox:hover {
    background-image: url(../imgs/cat.png);
    background-size: cover;
    transition-property: background-image;
    transition-duration: 1s;
}
#hidingBox {
    display: block;
    box-sizing: border-box;
    border: 5px double #ff0000;
    margin: 10px;
    padding:10px;
    max-width:800px;
    max-height:400px;
    object-fit:cover;
}
#hidingBox:hover {
    visibility: collapse;
}