$darkgrey: #323232;
$orange:#F78434;
$mainColor: #58BEBF;
//reset start
*{
    box-sizing: border-box;
}
ul {
    list-style: none;
    padding: 0;
    margin:0;
}
input{
    font-family: inherit;
    outline: none;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: #ffffffe1;
    color: $darkgrey;
}
//reset end

//general styles
.container {
    max-width: 1110px;
    margin: 0 auto;

    @media (max-width:1200px){
        max-width: 90%;
    }
}
.btn {
    display: inline-block;
    background-color: $orange;
    color: #ffffff;
    font-weight: 700;
    padding: 18px 35px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}
h2{
    font-size: 42px;
    margin:0;
}
text{
    font-size: 16px;
    font-weight: 400;
}

//general styles end

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto;

    @media (max-width:992px){
        flex-direction: column;
    }
    &-list {
        display: flex;

        @media (max-width:768px){
            flex-direction: column;
            text-align: center;
            gap: 7px;
        }
        &-item{
            margin-left: 42px;

            @media (max-width:992px){
                margin: 0 20px;
            }
            a{
                color:$darkgrey;
                text-decoration: none;
            }
            &.active {
                a {
                    color: $orange;
                    font-weight: 700;
                }
            }
        }
    }
}
.main-heading {
    color:$darkgrey;
    font-size: 54px;

    @media (max-width:768px){
        font-size: 30px;
    }
}
.intro-sect {
    margin-bottom: 100px;
    .main-heading {
        width: 680px;
        position: relative;
        margin-bottom: 30px;

        @media (max-width:768px){
            width:auto;
        }
    }
    .intro-row {
        display: flex;
        align-items: center;

        @media (max-width:576px){
            flex-direction: column-reverse;
        }

        .col-1 {
            flex-basis: 52%;
            max-width: 52%;
        }
        .col-2 {
            flex-basis: 48%;
            max-width: 48%;
        }
    
        @media (max-width:576px){
            .col-1, .col-2 {
                max-width: 100%;
            }
        }
    }
    

    .intro-form{
        overflow: hidden;
        width: 460px;
        position: relative;
        margin-top: 40px;

        &-input{
            border: 0;
            box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
            border-radius: 29px;
            padding: 20px 30px 20px 65px;
            width: 100%;
            &::placeholder{
                color: #BBBBBB;
            }

            @media (max-width:480px){
                padding-left: 30px;
            }
        }
        &:before{
            content: "";
            background-image: url(../img/email-icon.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            width: 25px;
            height: 20px;
            position: absolute;
            left:28px;
            top:50%;
            transform: translateY(-50%);

            @media (max-width:480px){
                display: none;
            }
        }
        .btn {
            position: absolute;
            right: 0;
            height: 100%;
        }
        @media (max-width:576px){
            width: 100%;
        }
    }
    .intro-img {
        @media (max-width: 1200px){
            width: 40vw;
        }
    }
}
.logos-sect{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;

    @media (max-width:992px){
        flex-direction: column;
        justify-content: center;
        max-width: 50%;
        gap: 50px;
    }
}
.learn-sect{
    margin-bottom: 100px;
    &-row{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width:992px){
            flex-direction: column;
        }
    }
    &-img{
        margin-right: 33px;
    }
    .col-1{
        position: relative;
        display: flex;
        justify-content: space-between;
        left: -165px;
        font-size: 16px;
        &-text{
            position: absolute;
            display: flex;
            align-items:center;
            padding: 29px;
            margin-top: 325px;
            right: -47px;
            height:140px;
            width: 300px;
            background-color: white;
            border-radius: 15px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            img{
                width: 45px;
                height:45px;
                margin-right: 20px;
            }

            @media (max-width:560px){
                right: 37px;
            }
        }
    }
    .col-2{
        width: 370px;
        p:last-of-type{
            margin-bottom: 40px;
        }
    }
}
.using-sect{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content:flex-end;
    background: $mainColor;
    color: #ffffff;
    border-radius: 20px;
    padding:95px;
    margin-bottom: 145px;

    .oval-1{
        position: absolute;
        right: -155px;
        top:-115px;
    }
    .oval-2{
        position: absolute;
        left: 370px;
        bottom:-200px;
    }
    &-block{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 50%;
        max-width: 400px;
        z-index: 2;

        h2{
            margin-bottom: 15px;
        }
        p{
            margin-bottom: 30px;
        }
        @media (max-width: 1200px){
            flex-basis: 55%;
            max-width:55%;
        }
        @media (max-width: 992px){
            flex-basis: 65%;
            max-width:65%;

            a{
                margin-bottom: 15px;
            }
        }
        @media (max-width: 800px){
            flex-basis: 90%;
            max-width:90%;
        }
    }

    &-learn{
        margin-right: 20px;
    }

    &-watch{
        background-color: #ffffff;
        color: $darkgrey;
    }

    &-img{
        position: absolute;
        left: -215px;
        top: 85px;
        border: 24px solid #ffffff;
        border-radius: 20px;
        z-index: 1;

        @media (max-width:1200px){
            left: -400px;
            top: 140px;
        }
        @media (max-width: 992px){
            left: -550px;
        }
        @media (max-width: 800px){
            display:none;
        }
    }
    .grey-block{
        position: absolute;
        background: #f5f6fa9a;
        height: 704px;
        max-width: 100%;
    }
    @media (max-width: 992px){
        padding:40px;
    }
    @media (max-width: 800px){
        max-width: 90%;
        justify-content: center;
    }
    
}
.who-sect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 110px;

    .row-1{
        text-align: center;
        margin-bottom: 45px;
    }
    .row-2{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        text-align: center;
        
        a{
            background:  #ffffff;
            color: $orange;
        }

        
        .col-1{
            background: $orange;
            color: #ffffff;
            border-radius: 20px;
            margin-right: 30px;
        }

        .col-2{
            border-radius: 20px;
        }

        .col{
            padding:40px 90px;

            @media (max-width:820px){
                padding:20px 30px;
            }
            @media (max-width:700px){
                margin-right:0;
                margin-bottom: 15px;
            }
        }

        @media (max-width:700px){
            flex-direction: column;
        }
    }
}
.why-sect{
    text-align: center;
    margin-bottom: 100px;

    &-row{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    h2{
        margin-bottom: 60px;
    }

    .col{
        max-width: 250px;
        margin-bottom: 35px;
    }
}
.thanks-sect{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

    .col{
        position: relative;
        box-sizing: border-box;
        border: 0.01px solid white;
        max-width: 350px;
        border-radius: 5px;
    }

    .play{
        display:none;
        position: absolute;
        top: 130px;
        right:20px;
    }

    .pizza{
        position: absolute;
        top:-40px;
        right:-40px;
    }

    .text-block{
        padding:30px;

        .city{
            color: $mainColor;
        }
    }

    &-row-1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 90px;

        h2,p{
            max-width: 450px;
        }

        @media (max-width:992px){
            flex-wrap: wrap;
            justify-content:center;

            h2,p{
                max-width: 90%;
            }
        }
    }

    &-row-2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        @media (max-width:1200px){
            justify-content: center;

            .col-1{
                margin-right: 30px;
            }
        }
        @media (max-width:920px){
            .col-1{
                margin-right: 0px;
            }
        }
    }

    .col:hover{
        filter: drop-shadow(0px 10px 52px rgba(0, 0, 0, 0.08));

        .city {
            color: $orange;
        }
        .play{
            display:initial;
        }
    }
}
.get-sect{
    position: relative;
    background-image: url(../img/get-mask.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    padding:155px 0 55px;

    .get-col{
        max-width: 350px;

        *{
            color: white;
        }

        p{
            margin-bottom: 30px;
        }

        a{
            background: white;
            color:$darkgrey;
        }
    }

    .get-person{
        position: absolute;
        bottom:0;
        left: 50%;
    }
}
footer{
    padding: 85px 0;

    .footer-row{
        display: flex;

        .col-1{
            flex-basis: 40%;
            max-width: 40%;

            &-inner{
                max-width: 300px;
            }
        }
        .col{
            flex-basis: 20%;
            max-width: 40%;
        }
        .footer-heading{
            font-size: 21px;
            color: $darkgrey;
            margin: 0 0 20px;

            @media (max-width:992px){
                margin-top: 30px;
            }
        }
        .footer-list{
            &-item{
                margin-bottom: 15px;

                a{
                    color: $darkgrey;
                    text-decoration: none;
                    font-size: 14px;
                }
            }
        }

        @media (max-width:992px){
            flex-direction: column;

            .col-1, .col {
                flex-basis:100%;
                max-width: 100%;
            }
        }
    }
    .social-links{
        margin-top: 40px;

        a {
            margin-right: 25px;
            font-size: 20px;

            .fa-facebook-square{
                color: #4267B2;
            }
            .fa-twitter{
                color:#1DA1F2;
            }
            .fa-youtube{
                color: #FF0000;
            }
            .fa-linkedin-in{
                color: #006699;
            }
        }
        
        @media (max-width:992px){
            justify-self: center;
        }
    }

    @media (max-width:992px){
        display: flex;
        justify-content: center;
        text-align: center;
    }
}