body {
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: italic;
    background-color:cornsilk;
}
a {
    color: cornsilk;
}
#wrapper {
    margin: 25px;
    padding: 25px;
}
img {
    width: 100px;
    height: 100px;
}
main{
    width: 500px;
}
.article-chess{
    background-color: lightcoral;
    font-style: normal;
}
.article-headline{
    font-weight:lighter;
}
aside {
    font-family: Tomorrow;
    font-style: normal;
    font-weight: bolder;
    margin: 20px;
    padding: 10px;
    background-color: darkgoldenrod;
    border: 5px double rgb(0, 0, 0);
}
footer{
    background-image: url(../imgs/chessPlayer.jpg);
    opacity: 0.75;
    padding: 25px;
}
.contacts{
    opacity: 1;
}