body {
    display: flex;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color:cornsilk;
}
#wrapper {
    margin: 30px;
}
header {
    align-self: center;
}
img {
    margin: 40px;
}
aside {
    font-family: Tomorrow;
    border: cyan;
}